label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-left: auto;
}

.formbtn {
    background-color: #fff;
    border-color: black;
}



.login-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}
.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}
.login-form label {
    display: block;
    margin-bottom: 5px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}